body {
  background: -webkit-linear-gradient(-45deg, #8363a1 0%, #74a8c3 100%);
  background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  margin: 0;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
}

.header p {
  color: white;
  margin-top: -10;
  font-style: italic;
  letter-spacing: 3;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-family: monospace;
  letter-spacing: 2;
}

#logo {
  width: 50px;
  height: 50px;
  margin: 15px 8px 15px 15px;
}

.logo-text {
  align-items: center;
  justify-content: center;
}

/* DAYS BOX*/

h2 {
  text-align: center;
  margin: 15 0 7 0;
  font-size: 18px;
  text-transform: uppercase;
  color: darkslateblue;
  font-family: cursive;
  background-color: #eef2f3;
}

.flex-days {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.day-box {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 210px;
  height: 160px;
  border: 1px solid black;
  background-color: blue;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.day_box_background {
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url("images/generic_360x120.jpg"),
    -webkit-linear-gradient(to right, #2193b0, #6dd5ed);
  background-image: url("images/generic_360x120.jpg"),
    linear-gradient(to right, #2193b0, #6dd5ed);
}

.day_box_text {
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  background-size: cover;
}

.day_box_text_sub {
  flex-basis: 65%;
  width: 100%;
  height: 100%;
}

#box1 {
  order: 1;
}

#box2 {
  order: 2;
}

#box3 {
  order: 3;
}

#box4 {
  order: 4;
}

#box5 {
  order: 5;
}

#box6 {
  order: 6;
}

#box7 {
  order: 7;
}

.add {
  position: absolute;
  bottom: 5;
  right: 5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  background: #efecdc;
  border: 1px solid #0099cc;
  border-radius: 12px;
  cursor: pointer;
  outline: none;

}

.open {
  position: absolute;
  bottom: 5;
  left: 5;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  background: #efecdc;
  border: 1px solid #0099cc;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
}


.open:hover {
  background-color: #2193b0;
  color: white;
}

.add:hover {
  background-color: #6dd5ed;
  color: white;
}


.output {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  width: 100%;
  display: block;
  background-color: #e6e8fa;
  overflow-wrap: break-word;
  text-align: center;
}

/* FORM BOX*/

#form-container {
  display: none;
  flex-direction: row;
  width: 700px;
  height: 300px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  border: 5px solid grey;
  background: #8e9eab;
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}

#delete_todo_form {
  display: none;
}

#checkbox_todo {
  margin-left: 7px;
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.flex-form-2 {
  display: flex;
  flex-direction: row;
}

.form-item {
  align-self: stretch;
  padding: 10px;
}

.form-item-2 {
  align-self: center;
  padding: 5px;
}

.flex-form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* NOTES BOX*/

.notes-box {
  display: none;
  flex-direction: column;
  width: 700px;
  height: 750px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  border: 3px solid grey;
  background: #d3cce3;
  
}

.flex-notes {
  display: flex;
  width: 600px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 60px;
}

.notes-item {
  margin: 50px 15px 15px 15px;
  padding: 25px;
  width: 250px;
  overflow-wrap: break-word;
  background-color: white;
}

#todolist {

width: 600px;

}

.notes_day_background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  background-blend-mode: overlay;
  background-image: url(images/day1000x350.jpg), linear-gradient(to right, #2193b0, #6dd5ed);
  background-size: cover;
  height: 200px;
}

.notes_day_background_text {

padding: 30px;
font-size: 24px;
border-radius: 12px;
background: rgb(0, 0, 0); 
background: rgba(0, 0, 0, 0.5); 
color: #f1f1f1;


}


/* TODOS AND ICONS */

i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 7px;
}

.icon-task {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.logo_done {
  margin-right: 5px;
  display: none;
}

#task_list,
#task_list_output {
  padding-inline-start: 0px;
}

#task_list>li,
#task_list_output>li {
  display: inline-block;
}

#task_list_output>li {
  line-height: 2;
  border-bottom: solid 0.3px #f2f2f2;
}

/* BUTTONS*/
#close-form {
  padding: 10px;
}

#btn_1,
#btn_2,
#btn_3,
#btn_4,
#btn_5,
#btn_6,
#btn_7 {
  display: none;
  padding: 10px;
}

#btns_1_sub,
#btns_2_sub,
#btns_3_sub,
#btns_4_sub,
#btns_5_sub,
#btns_6_sub,
#btns_7_sub {
  display: none;
}

#close-day-1,
#close-day-2,
#close-day-3,
#close-day-4,
#close-day-5,
#close-day-6,
#close-day-7 {
  display: none;

}

.btns_day {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  background: #d3cce3;
  
  
}

.button_day {

  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  border: 1px solid #0099cc;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
}

.button_day:hover {
  background-color: #2193b0;
  color: white;
}

.close-save {

  background: #efecdc;
  border: 1px solid #0099cc;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  top: 5;
  left: 5;
  outline: none;
}

.close-save:hover {
  background-color: #2193b0;
  color: white;
}